@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazirmatn-regular";
    src: url("/fonts/vazirmatn/vazirmatn-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazirmatn-medium";
    src: url("/fonts/vazirmatn/vazirmatn-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazirmatn-bold";
    src: url("/fonts/vazirmatn/vazirmatn-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "vazirmatn-black";
    src: url("/fonts/vazirmatn/vazirmatn-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  ::selection {
    color: #ffffff;
    background-color: #0279d9;
  }

  html {
    color: #18181b;
    font-family: "vazirmatn-regular";
    scroll-behavior: smooth;
  }

  @media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
      width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
      background-color: #cae3f7;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #7fbbec;
    }
  }
}

@layer components {
  .shimmer {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    inset: 0;
    filter: blur(2rem);
    animation: effect 2.5s infinite;
  }

  @keyframes effect {
    0% {
      transform: translateX(-210%) skewX(-20deg);
    }
    100% {
      transform: translateX(250%) skewX(-20deg);
    }
  }
}